/* LP */

  /*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__text ***/
  #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__text {
}
/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__text ***/
/*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__title ***/
#_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__title {
}
/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item__title ***//*** Start css of #_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__title ***/

#_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__title {
    color: rgba(254,254,254,1);
    font-size: 72px;
    text-align: left;
    text-align-last: left;
    font-weight: 600;
    text-decoration: none;
    line-height: 113%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__title ***/


/*** Start css of #_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__subtitle ***/

#_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__subtitle {
    color: rgba(75,75,75,1);
    font-size: 20px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgba(57,57,57,1);
    border-style: solid;
    border-width: 0px;
    background-attachment: scroll;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
}

/*** End css of #_lp_block_11350402[data-block-layout='1433261'] .lp-promo-6-content__subtitle ***/
/*** Start css of #_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-title ***/

#_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-title {
    color: rgb(0 132 87);
    font-size: 55px;
    text-align: left;
    text-align-last: left;
    font-weight: 700;
    text-decoration: none;
    line-height: 150%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-title ***/

/*** Start css of #_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-text ***/

#_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-text {
    color: rgba(34,34,34,1);
    font-size: 18px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11351402[data-block-layout='1611861'] .lp-prods-24-text ***/
/*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__icon ***/

#_lp_block_11389802[data-block-layout='1568461'] .features-item__icon {
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__icon ***/

/*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__title ***/

#_lp_block_11389802[data-block-layout='1568461'] .features-item__title {
    color: rgba(34,34,34,1);
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    font-weight: 600;
    text-decoration: none;
    line-height: 150%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__title ***/

/*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__text ***/
#_lp_block_11389802[data-block-layout='1568461'] .features-item__text {
    color: rgba(34,34,34,1);
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}
/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .features-item__text ***//*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .features-header__title ***/

#_lp_block_11389802[data-block-layout='1568461'] .features-header__title {
    color: rgba(0,0,0,1);
    font-size: 50px;
    text-align: left;
    text-align-last: left;
    font-weight: 600;
    text-decoration: none;
    line-height: 125%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .features-header__title ***/
/*** Start css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16__title ***/

#_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16__title {
    color: rgba(34,34,34,1);
    font-size: 50px;
    text-align: center;
    text-align-last: center;
    font-weight: 600;
    text-decoration: none;
    line-height: 115%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16__title ***//*** Start css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__title ***/

#_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__title {
    color: rgba(34,34,34,1);
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__title ***//*** Start css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__title ***/

#_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__title {
    font-size: 40px;
    text-align: center;
    text-align-last: center;
    font-weight: 600;
    text-decoration: none;
    line-height: 125%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__title ***/

/*** Start css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__subtitle ***/

#_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__subtitle {
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-6__subtitle ***/
/*** Start css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__item-label ***/


/*** End css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__item-label ***/
/*** Start css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__button ***/

#_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__button {
    box-shadow: 0 5px 18px 4px rgba(4,155,106,1);
    color: rgba(255,255,255,1);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    font-family: Jost, sans-serif;
    font-style: normal;
    background: linear-gradient(26deg, rgba(26,51,109,1) , rgba(4,155,106,1) );
}
#_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__button:hover {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 100%;
    font-family: Oswald, sans-serif;
    font-style: normal;
    background: linear-gradient(26deg, rgba(26,51,109,1) , rgba(4,155,106,1) );
}
#_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__button:active {
    color: rgb(235, 235, 235);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 100%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__button ***/
/*** Start css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__field-checkbox--text ***/

/*** End css of #_lp_block_11394002[data-block-layout='1551661'] .lp-form-tpl__field-checkbox--text ***//*** Start css of #_lp_block_11350202[data-block-layout='1414661'] .lp-block-bg ***/

#_lp_block_11350202[data-block-layout='1414661'] .lp-block-bg {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] .lp-block-bg ***/


/*** Start css of #_lp_block_11350202[data-block-layout='1414661'] .lp-block-overlay ***/

#_lp_block_11350202[data-block-layout='1414661'] .lp-block-overlay {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] .lp-block-overlay ***/


/*** Start css of #_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__phone-callback ***/

#_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__phone-callback {
    color: rgba(0,0,0,1);
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}
#_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__phone-callback:hover {
    color: rgb(20, 20, 20);
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}
#_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__phone-callback:active {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__phone-callback ***/



/*** Start css of #_lp_block_11350202[data-block-layout='1414661'] .lp-wrapp.lp-header-1__wrap .lp-header-1__contacts .lp-header-1__location .lp-header-1__location-address .lp-header-1__location-address-item.lp-header-text-3 ***/

#_lp_block_11350202[data-block-layout='1414661'] .lp-wrapp.lp-header-1__wrap .lp-header-1__contacts .lp-header-1__location .lp-header-1__location-address .lp-header-1__location-address-item.lp-header-text-3 {
    color: rgba(0,0,0,1);
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] .lp-wrapp.lp-header-1__wrap .lp-header-1__contacts .lp-header-1__location .lp-header-1__location-address .lp-header-1__location-address-item.lp-header-text-3 ***//*** Start css of #_lp_block_11350202[data-block-layout='1414661'] ._site-name ***/

#_lp_block_11350202[data-block-layout='1414661'] ._site-name {
    color: rgba(34,34,34,1);
    font-size: 18px;
    text-align: left;
    text-align-last: left;
    font-weight: 600;
    text-decoration: none;
    line-height: 122%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] ._site-name ***/
/*** Start css of #_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__logo-subtitle ***/

#_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__logo-subtitle {
    color: rgba(123,123,123,1);
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 142%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350202[data-block-layout='1414661'] .lp-header-1__logo-subtitle ***//*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-block-bg ***/

#_lp_block_11351202[data-block-layout='1562261'] .lp-block-bg {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-block-bg ***/
/*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-block-overlay ***/

#_lp_block_11351202[data-block-layout='1562261'] .lp-block-overlay {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,1);
}

/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-block-overlay ***/
/*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16__title ***/

#_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16__title {
    color: rgba(34,34,34,1);
    font-size: 50px;
    text-align: center;
    text-align-last: center;
    font-weight: 600;
    text-decoration: none;
    line-height: 115%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16__title ***/
/*** Start css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item ***/

#_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item {box-shadow: 0 0 30px -20px #30ab83;}

/*** End css of #_lp_block_11351202[data-block-layout='1562261'] .lp-advantages-16-item ***//*** Start css of #_lp_block_11351402[data-block-layout='1611861'] .lp-block-bg ***/

#_lp_block_11351402[data-block-layout='1611861'] .lp-block-bg {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

/*** End css of #_lp_block_11351402[data-block-layout='1611861'] .lp-block-bg ***/
/*** Start css of #_lp_block_11351402[data-block-layout='1611861'] .lp-block-overlay ***/

#_lp_block_11351402[data-block-layout='1611861'] .lp-block-overlay {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,1);
}

/*** End css of #_lp_block_11351402[data-block-layout='1611861'] .lp-block-overlay ***//*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .features-header__text ***/

#_lp_block_11389802[data-block-layout='1568461'] .features-header__text {
    color: rgba(34,34,34,1);
    font-size: 20px;
    text-align: left;
    text-align-last: left;
    font-weight: 300;
    text-decoration: none;
    line-height: 150%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .features-header__text ***//*** Start css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__counter ***/

#_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__counter {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border-color: rgb(2 113 117 / 43%);
    border-style: solid;
    border-width: 2px;
    color: rgba(0,0,0,1);
    font-size: 26px;
    text-align: center;
    text-align-last: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 146%;
    font-family: Oswald, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item__counter ***/
/*** Start css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item_line ***/

#_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item_line {
    box-shadow: 0 0 0 0 rgba(183,183,183,1);
    background-attachment: scroll;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-color: rgb(2 113 117 / 43%);
}


/*** End css of #_lp_block_11393802[data-block-layout='1711661'] .lp-steps-16-item_line ***//*** Start css of #_lp_block_11389802[data-block-layout='1568461'] .lp-features-header-line ***/

#_lp_block_11389802[data-block-layout='1568461'] .lp-features-header-line {
    background-attachment: scroll;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-color: rgba(4,155,106,1);
}



/*** End css of #_lp_block_11389802[data-block-layout='1568461'] .lp-features-header-line ***//*** Start css of #_lp_block_11350402[data-block-layout='1433261'] .lp-block-bg ***/

#_lp_block_11350402[data-block-layout='1433261'] .lp-block-bg {
    background-attachment: scroll;
    background-image: url("../images/banner.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

/*** End css of #_lp_block_11350402[data-block-layout='1433261'] .lp-block-bg ***/
/*** Start css of #_lp_block_11350402[data-block-layout='1433261'] .lp-block-overlay ***/

#_lp_block_11350402[data-block-layout='1433261'] .lp-block-overlay {
    background-attachment: scroll;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}

/*** End css of #_lp_block_11350402[data-block-layout='1433261'] .lp-block-overlay ***//*** Start css of #_lp_block_11350402[data-block-layout='1433261'] .lp-button--type-1 ***/

#_lp_block_11350402[data-block-layout='1433261'] .lp-button--type-1 {
    background: rgba(26,51,109,1);
    background: -moz-linear-gradient(26deg, rgba(26,51,109,1) , rgba(4,155,106,1));
    background: -webkit-gradient(26deg, color-stop(0%, rgba(26,51,109,1)), color-stop(100%, rgba(4,155,106,1)));
    background: -webkit-linear-gradient(26deg, rgba(26,51,109,1), rgba(4,155,106,1));
    background: -o-linear-gradient(26deg, rgba(26,51,109,1), rgba(4,155,106,1));
    background: -ms-linear-gradient(26deg, rgba(26,51,109,1), rgba(4,155,106,1));
    background: linear-gradient(26deg, rgba(26,51,109,1) , rgba(4,155,106,1) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(26,51,109,1)', endColorstr='rgba(4,155,106,1)', GradientType=0 );
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: rgba(255,255,255,1);
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 5px 18px 4px rgba(4,155,106,1);
    color: rgba(255,255,255,1);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

.lp-features-item.s3-animator-fadeInUp.s3-animator {
    padding-bottom: 30px;
}

#_lp_block_11350402[data-block-layout='1433261'] .lp-button--type-1:hover {
    background: rgb(46, 71, 129);
    background: -moz-linear-gradient(26deg, rgb(46, 71, 129) , rgb(24, 175, 126));
    background: -webkit-gradient(26deg, color-stop(0%, rgb(46, 71, 129)), color-stop(100%, rgb(24, 175, 126)));
    background: -webkit-linear-gradient(26deg, rgb(46, 71, 129), rgb(24, 175, 126));
    background: -o-linear-gradient(26deg, rgb(46, 71, 129), rgb(24, 175, 126));
    background: -ms-linear-gradient(26deg, rgb(46, 71, 129), rgb(24, 175, 126));
    background: linear-gradient(26deg, rgb(46, 71, 129) , rgb(24, 175, 126) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(46, 71, 129)', endColorstr='rgb(24, 175, 126)', GradientType=0 );
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 5px 18px 4px rgb(24, 175, 126);
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    font-family: Jost, sans-serif;
    font-style: normal;
}
#_lp_block_11350402[data-block-layout='1433261'] .lp-button--type-1:active {
    background: rgb(18, 36, 76);
    background: -moz-linear-gradient(26deg, rgb(18, 36, 76) , rgb(3, 115, 79));
    background: -webkit-gradient(26deg, color-stop(0%, rgb(18, 36, 76)), color-stop(100%, rgb(3, 115, 79)));
    background: -webkit-linear-gradient(26deg, rgb(18, 36, 76), rgb(3, 115, 79));
    background: -o-linear-gradient(26deg, rgb(18, 36, 76), rgb(3, 115, 79));
    background: -ms-linear-gradient(26deg, rgb(18, 36, 76), rgb(3, 115, 79));
    background: linear-gradient(26deg, rgb(18, 36, 76) , rgb(3, 115, 79) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(18, 36, 76)', endColorstr='rgb(3, 115, 79)', GradientType=0 );
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 5px 18px 4px rgb(3, 115, 79);
    color: rgb(235, 235, 235);
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    font-family: Jost, sans-serif;
    font-style: normal;
}

/*** End css of #_lp_block_11350402[data-block-layout='1433261'] .lp-button--type-1 ***/
/* LP */